In [8]:
import pandas as pd
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('data/balanced_df.csv')
data.head()

,offer received,offer viewed,transaction,offer completed,value_amount,age,income,reward,difficulty,duration,web,email,mobile,social,offer_success
0,1.0,0.0,4.0,1.0,69.20,33.0,72000.0,2,10,7,1.0,1.0,1.0,0.0,0
1,1.0,1.0,0.0,0.0,0.00,33.0,72000.0,0,0,4,1.0,1.0,1.0,0.0,0
2,1.0,1.0,1.0,0.0,22.16,33.0,72000.0,0,0,3,0.0,1.0,1.0,1.0,1
3,1.0,1.0,1.0,1.0,8.57,33.0,72000.0,5,5,5,1.0,1.0,1.0,1.0,0
4,1.0,1.0,2.0,1.0,27.67,33.0,72000.0,2,10,10,1.0,1.0,1.0,1.0,1

In [4]:
X = data.iloc[:,:-1] # input data
y = data.iloc[:,-1]  # labels

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [5]:
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)

In [6]:
y_pred = clf.predict(X_test)

In [9]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9236249935927008